 // Web Fonts from fontspring.com

// All OpenType features and all extended glyphs have been removed.
// Fully installable fonts can be purchased at http://www.fontspring.com

// The fonts included in this stylesheet are subject to the End User License you purchased
// from Fontspring. The fonts are protected under domestic and international trademark and
// copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
// distributing this font software.

// (c) 2010-2012 Fontspring

// The fonts included are copyrighted by the vendor listed below.

// Vendor:      Mark Simonson Studio
// License URL: http://www.fontspring.com/fflicense/mark-simonson-studio

// proxima nova light
@font-face
    font-family: "ProximaNova"
    src: url("../fonts/ProximaNovaLight/ProximaNova-Light-webfont.eot")
    src: url("../fonts/ProximaNovaLight/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNovaLight/ProximaNova-Light-webfont.svg#proxima_nova_ltlight") format("svg"),
         url("../fonts/ProximaNovaLight/ProximaNova-Light-webfont.woff") format("woff"),
         url("../fonts/ProximaNovaLight/ProximaNova-Light-webfont.ttf") format("truetype")
    font-weight: 300
    font-style: normal

// proxima nova light italic
@font-face
    font-family: "ProximaNova"
    src: url("../fonts/ProximaNovaLightItalic/ProximaNova-LightIt-webfont.eot")
    src: url("../fonts/ProximaNovaLightItalic/ProximaNova-LightIt-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNovaLightItalic/ProximaNova-LightIt-webfont.svg#proxima_novalight_italic") format("svg"),
         url("../fonts/ProximaNovaLightItalic/ProximaNova-LightIt-webfont.woff") format("woff"),
         url("../fonts/ProximaNovaLightItalic/ProximaNova-LightIt-webfont.ttf") format("truetype")
    font-weight: 300
    font-style: italic

// proxima nova regular
@font-face
    font-family: "ProximaNova"
    src: url("../fonts/ProximaNovaRegular/ProximaNova-Reg-webfont.eot")
    src: url("../fonts/ProximaNovaRegular/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNovaRegular/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular") format("svg"),
         url("../fonts/ProximaNovaRegular/ProximaNova-Reg-webfont.woff") format("woff"),
         url("../fonts/ProximaNovaRegular/ProximaNova-Reg-webfont.ttf") format("truetype")
    font-weight: normal
    font-style: normal

// Proxima Nova Italic
@font-face
    font-family: "ProximaNova"
    src: url("../fonts/ProximaNovaRegularItalic/proximanova-regularitalic-webfont.eot")
    src: url("../fonts/ProximaNovaRegularItalic/proximanova-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNovaRegularItalic/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic") format("svg"),
         url("../fonts/ProximaNovaRegularItalic/proximanova-regularitalic-webfont.woff") format("woff"),
         url("../fonts/ProximaNovaRegularItalic/proximanova-regularitalic-webfont.ttf") format("truetype")
    font-weight: normal
    font-style: italic

// proxima nova semibold
@font-face
    font-family: "ProximaNova"
    src: url("../fonts/ProximaNovaSemibold/ProximaNova-Sbold-webfont.eot")
    src: url("../fonts/ProximaNovaSemibold/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNovaSemibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold") format("svg"),
         url("../fonts/ProximaNovaSemibold/ProximaNova-Sbold-webfont.woff") format("woff"),
         url("../fonts/ProximaNovaSemibold/ProximaNova-Sbold-webfont.ttf") format("truetype")
    font-weight: 600
    font-style: normal

// proxima nova bold
@font-face
    font-family: "ProximaNova"
    src: url("../fonts/ProximaNovaBold/ProximaNova-Bold-webfont.eot")
    src: url("../fonts/ProximaNovaBold/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNovaBold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold") format("svg"),
         url("../fonts/ProximaNovaBold/ProximaNova-Bold-webfont.woff") format("woff"),
         url("../fonts/ProximaNovaBold/ProximaNova-Bold-webfont.ttf") format("truetype")
    font-weight: 700
    font-style: normal

// icon font
@font-face
    font-family: "IcoMoon"
    src: url("../fonts/IcoMoon/icomoon.eot")
    src: url("../fonts/IcoMoon/icomoon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/IcoMoon/icomoon.svg#icomoon") format("svg"),
         url("../fonts/IcoMoon/icomoon.woff") format("woff"),
         url("../fonts/IcoMoon/icomoon.ttf") format("truetype")
    font-weight: normal
    font-style: normal