---
title: Tips.js
---

<!-- Main container -->
<article>

    <!-- Plugin title -->
    <h1>tips.js</h1>

    <p>The following is a demonstration page for <strong>tips.js</strong>, a jQuery tooltip plugin. The following sections demonstrate the functionality of the plugin.</p>

    <!-- Sample form demonstrating focus tooltips -->
    <form novalidate="novalidate">

        <h1>Tooltip errors on focus</h1>

        <!-- Right tooltip -->
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" data-tooltip="Please enter a first name" class="error" />

        <!-- Left tooltip -->
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" data-tooltip="Please enter a last name" data-tooltip-direction="left" class="error" />

        <!-- Bottom tooltip -->
        <label for="email">Email</label>
        <input type="email" id="email" data-tooltip="Please enter a valid email address" data-tooltip-direction="bottom" class="error" />

        <!-- Top tooltip -->
        <label for="phone">Phone</label>
        <input type="tel" id="phone" data-tooltip="Please enter a valid phone number" data-tooltip-direction="top" class="error" />

    </form>


    <section>

        <h1>Help tooltips on click</h1>

        <p>What does this mean? <a href="#" data-tooltip="This means that this tooltip is awesome" data-tooltip-direction="top" class="clicktips">?</a></p>

    </section>

</article>