@charset "UTF-8"
@import "includes/_variables"
@import "includes/_mixins"


@media screen and (max-width: 1024px)

    .center, header
        padding: 0 5%
        max-width: 90%
        width: 90%

    header
        padding: 30px 5%

        h1
            border-radius(5px)
            font-size: font-size + 30
            height: 55px
            margin-left: 35px
            padding: 20px 0
            width: 300px

            &:after
                content: ''
                border-bottom: 20px solid transparent
                border-right: 30px solid #333
                border-top: 20px solid transparent
                left: -30px
                margin-top: -20px

    h2
        font-size: 30px


    section
        padding: 30px 0

    input, select
        box-sizing: border-box
        width: 100%


@media screen and (max-width: 768px)

    header

        h1
            font-size: font-size + 18
            height: 45px
            margin: 0 auto
            padding: 25px 0 20px
            width: 250px

            &:after
                content: ''
                border-bottom: 15px solid transparent
                border-right: 25px solid #333
                border-top: 15px solid transparent
                left: -25px
                margin-top: -15px

    h2
        font-size: font-size + 4